@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$background-color: rgb(65, 65, 65);
$accent-color: rgb(1, 172, 202);
$accent-color-light: rgb(0, 210, 247);


html, body{

  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.loader-container {
  
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  width: 100px;
  height: 100px;

  border: 20px solid grey;
  border-top-color: $accent-color;
  border-bottom-color: $accent-color;
  border-radius: 50%;

  animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button, .list-item {
  cursor: pointer;
}

.file-list {
  width: 25%;

  max-width: 600px;
  min-width: 250px;
  min-height: 100vh;

  background-color: rgb(221, 221, 221);

  display: flex;
  flex-direction: column;
}


.new-note {
  width: 100%;
  border-style: none;
  background-color: $accent-color;
  height: 25px;
}

.new-note:hover {
  background-color: grey;
}

#new-note-title {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;

  outline: none;
  padding: 5px;
}

input {
  width: 100%;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
}

.list-item {
  width: 100%;
  display: flex;

  justify-content: space-between;
  overflow: hidden;

  & p {
    margin-left: 5px;
  }
}

.list-item:hover {
  background-color: grey;
}

.delete {
  width: 50px;
  height: 50px;
  
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);

  &:hover {
    filter:invert(100%);
  }
}

#sidebar-grow {
  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0);

  border: none;
  outline: none;

  &:hover {
    filter: saturate(2);
  }
}

.note-container {
  width: 65%;
  padding: 0 50px 0 0;
}

#title {
  box-sizing: border-box;

  height: 50px;
  width: 100%;

  padding: 5px;

  border: none;
  resize: none;
  outline: none;

  font-family: 'Open Sans', sans-serif;
  font-size: x-large;

  &:hover {
    border-bottom: solid 3px $accent-color;
  }

  &:focus {
    border-bottom: solid 3px $accent-color-light;
  }
}

.save-notification {
  text-align: center;
  background-color: $accent-color;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  padding: 5px;
}
