html, body{
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

#root, .App {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
}

button, .list-item {
  cursor: pointer;
}

.file-list {
  width: 30%;
  height: 100%;

  min-width: 200px;
  max-width: 400px;
  
  background-color: rgb(221, 221, 221);

  display: flex;
  flex-direction: column;

  border-right: solid rgb(146, 146, 146) 1px;

}

.new-note {
  width: 100%;
  border-style: none;
  background-color: green;
  height: 25px;
}

.new-note:hover {
  background-color: grey;
}

input {
  width: 100%;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
}

.list-item {
  width: 100%;
  height: 75px;
  display: flex;

  justify-content: space-between;
  overflow: hidden;
}

.content-preview {
  opacity: .5;
}


.list-item:hover {
  background-color: grey;
}


.note-container {
  width: 100%;
  height: 100%;

  display: flex;
}

.editor-container {
  width: 50%;

}

.editor {
  width: 100%;
  height: 95%;

  min-width: 500px;

  box-sizing: border-box;
}

.editor-controls{
  height: 35px;
}

.editor-button {
  width: 20px;
  height: 20px;
}


.parsed-results {
  max-width: 500px;
}